mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-md-auto.text-lightd © 2020 Онлайн-школа немецкого языка «Studger»
				.col-auto.d-none.d-md-block
					a(href="#").strong.tdu   Связаться с нами
				.col-auto.order-sm-last.d-none.d-md-block
					+soc()
				.col-auto.d-none.d-md-block
					.row
						.col-auto
							a.small.text-lightd(href="#") Договор оферты


						.col-auto
							a.small.text-lightd(href="#") Политика конфиденциальности
	 
