.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-alert {
	font-size:(30/10)*1rem;
	width:(28/30)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-copy {
	font-size:(21/10)*1rem;
	width:(18/21)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-logout {
	font-size:(14/10)*1rem;
	width:(19/14)*1em;
}
.icon-mnu-1 {
	font-size:(17/10)*1rem;
	width:(22/17)*1em;
}
.icon-mnu-10 {
	font-size:(23/10)*1rem;
	width:(22/23)*1em;
}
.icon-mnu-2 {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-mnu-3 {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-mnu-4 {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-mnu-5 {
	font-size:(18/10)*1rem;
	width:(22/18)*1em;
}
.icon-mnu-6 {
	font-size:(20/10)*1rem;
	width:(22/20)*1em;
}
.icon-mnu-7 {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-mnu-8 {
	font-size:(22/10)*1rem;
	width:(16/22)*1em;
}
.icon-mnu-9 {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-pay {
	font-size:(17/10)*1rem;
	width:(15/17)*1em;
}
.icon-stat {
	font-size:(24/10)*1rem;
	width:(32/24)*1em;
}
.icon-user {
	font-size:(17/10)*1rem;
	width:(15/17)*1em;
}
.icon-user-add {
	font-size:(17/10)*1rem;
	width:(21/17)*1em;
}
.icon-vk {
	font-size:(14/10)*1rem;
	width:(24/14)*1em;
}
