//- include ../../blocks/footer-lesson/_footer-lesson.pug
mixin body-lesson-1()
	+b.main-block.custom-scroll-js 
		+panel()(class=" panel-block--lg mb-0")
			+e.img-wrap.bg-wrap
				img.img-bg.object-fit-js(src="img/@2x/lesson-img.jpg", alt="")
			p Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae.Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.
			+lesson-section("1. Quisque eget dictum ante","Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.")
				+audio
				.h5.strong.pt-4 Выберите один вариант ответа
				+e.input-variant-wrap
					+input-variant("var1",'54')
					+input-variant("var1",'324')
					+input-variant("var1",'23')
					+input-variant("var1",'95', "tr")
					+input-variant("var1",'232')
			+lesson-section("2. Quisque eget dictum ante"," Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.")
				.h5.strong.pt-4 Выберите один вариант ответа
				+e.input-variant-wrap
					+input-variant("var2",'richtig', "tr")
					+input-variant("var2",'falsch')
			+lesson-section("3. Quisque eget dictum ante","Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.")
				.h5.strong.pt-4 Выберите  ответ
				.row.row--sm.align-items-center
					.col-auto.h6 Die Frau isst 
					.col-auto
						.custom-select-wrap.custom-select-wrap--search-hidden
							select.custom-select-js
								option(value="" selected disabled) ...
								option(value="Alabama") Alabamasdsdsdsd sdsd  апвап 
								option(value="Alabama") Alabama
								option(value="Alabama") Alabama
								option(value="Alabama") Alabama
					.col-auto.h6 im Restaurant
			+lesson-section("4. Quisque eget dictum ante","Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.") 
				.h5.strong.pt-4 Введите  ответ в поле
				.row.row--sm.align-items-center
					.col-auto.h6 Wohin fährt Herr Albers?
					.col-auto
						+input()
			+lesson-section("5. Quisque eget dictum ante","Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.") 
				.h5.strong.pt-4 Введите  ответ в поле
				+text-block()
			+lesson-section("6. Quisque eget dictum ante","Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.")
				+audio
				.h5.strong.pt-4 Выберите один вариант ответа
				+e.input-variant-wrap.d-block
					+input-variant-ch("var3",'Vestibulum')
					br
					+input-variant-ch("var3",'Quisque eget dictum')
					br
					+input-variant-ch("var3",' Morbi convallis congue', "tr")

mixin body-lesson-2()
	+b.main-block.custom-scroll-js 
		+panel()(class=" panel-block--lg mb-0") 
			+lesson-section("7. Quisque eget dictum ante ")
				div.p Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. 
					|
					.custom-select-wrap.custom-select-wrap--search-hidden.custom-select-wrap--sm
						select.custom-select-js
							option(value="" selected disabled) ...
							option(value="Alabamasdfdsfs dsfsdf  фыфы") Alabamasdfdsfs dsfsdf  фыфы
							option(value="Alabama") Alabama 
							option(value="Alabama") Alabama 
							option(value="Alabama") Alabama 
					| , ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque 
					+input()(onkeydown="this.style.width = ((this.value.length + 1) * 6) + 'px';")
					|. Morbi convallis congue.Quisque eget dictum ante . Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque 
					.custom-select-wrap.custom-select-wrap--search-hidden.custom-select-wrap--sm
						select.custom-select-js
							option(value="" selected disabled) ...
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
					|. Morbi convallis congue.Quisque 
					+input()(onkeydown="this.style.width = ((this.value.length + 1) * 6) + 'px';")
					|. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae.

			+lesson-section("8. Quisque eget dictum ante ")
				.droppable-section
					+b.drag-block
						+e.inner
							+e.item.drag-element-js(data-name="drop-active-1") quisque
							+e.item.drag-element-js(data-name="drop-active-2") convallis
							+e.item.drag-element-js(data-name="drop-active-3") qongue
							+e.item.drag-element-js(data-name="drop-active-4") tempor
							+e.item.drag-element-js(data-name="drop-active-5") dictum
							+e.item.drag-element-js(data-name="drop-active-6") dictum
							+e.item.drag-element-js(data-name="drop-active-7") dictumqongue 
					.p Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget #[strong Пропуск№1]
						.droppable-block
						|    ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dicegtum ante. Megorbi convaegllis co #[strong Пропуск№2 ]
						.droppable-block
						|    ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, Пропуск№3   
						.droppable-block
						|  get dictum ante . Morbi co Пропуск№4 .Quisque eg  
						.droppable-block
						|     t  dictum ante . Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae.
			+lesson-section("9. Quisque eget dictum ante ")
				.droppable-section
					+b.drag-block
						+e.inner
							+e.item.drag-element-js(data-name="drop-active-1") quisque
							+e.item.drag-element-js(data-name="drop-active-2") convallis
							+e.item.drag-element-js(data-name="drop-active-3") qongue
							+e.item.drag-element-js(data-name="drop-active-4") tempor
							+e.item.drag-element-js(data-name="drop-active-5") dictum
				
					.row.p.row--sm
						.col.question-end 1. Quisque eget dictum ante. Morbi convallis vulputate nisi, Пропуск№1 
						.col-sm-auto #[.droppable-block]

					.row.p.row--sm
						.col.question-end 2. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Пропуск№2 
						.col-sm-auto #[.droppable-block]

					.row.p.row--sm
						.col.question-end 3. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae.  Пропуск№3 
						.col-sm-auto #[.droppable-block]
			+lesson-section("10. Quisque eget dictum ante ",'Quisque eget dictum ante. Morbi convallis vulputate nisi, ac gravida tellus facilisis vitae. Vestibulum varius enim eget ornare congue. Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.Ut eget tempor ipsum, ac ultricies tellus. Quisque eget dictum ante. Morbi convallis congue.')
				+b.row-two
					.row
						- let colVar = (x == "0" ? 'input-variant--left' : 'input-variant--right disabled') 
						mixin list(i, item, colVar) 
							+input-variant(`col-${x}`)(class=colVar data-id=`id-${i}`)
								+e.text.justify-content-start= item
								span.line
						+e.col.col-6: div.position-relative
							+list("1","Quisque eget dictum 1",'input-variant--left')
							+list("2", 'Quisque eget dictum','input-variant--left')
							+list("3", 'Morbi convallis congue 1','input-variant--left')
							+list("4", 'Vestibulum','input-variant--left')
							+list( "5",'Morbi convallis congue','input-variant--left')
				
						+e.col.col-6: div.position-relative 
							+list("2", 'Quisque eget dictum','input-variant--right disabled')
							+list( "5",'Morbi convallis congue','input-variant--right disabled')
							+list("1","Quisque eget dictum 1",'input-variant--right disabled')
							+list("3", 'Morbi convallis congue 1','input-variant--right disabled')
							+list("4", 'Vestibulum','input-variant--right disabled')
				

			+lesson-section(" 11. Quisque eget dictum ante",'Задание переведите предложение')
				p #[strong  "Я люблю учить немецкий язык"]
				.sortable-section
					.line-block.sortable-block-line
					+b.drag-block--line.mt-5
						+e.inner
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-1")  quisque 
							+e.item.copy-element-js( data-name="sort-active-2") convallis  
							+e.item.copy-element-js( data-name="sort-active-3")  qongue 
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-4")   tempor 
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-5") 5 dictum 
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-6")  dictum
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-7")  dictum
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-8")  dictum
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-9")  dictum
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-10")   dictum
							+e.item.copy-element-js(data-valid="true" data-name="sort-active-11")  dictum