
mixin modal() 
  
	.d-none
		+b.modal-win(id="modal-enjoy" class="   modal-form" )
			.text-center
				+e.title Вам понравился урок?
				+e.btn-wrap
					+b.btn.btn-primary.btn-lg(type="button").mx-1 
						img(src="img/@2x/img-like.png", alt="")
						| Да
						 
					+b.btn.btn-dark.btn-lg(type="button").mx-1 
						img(src="img/@2x/img-dislike.png", alt="")
						| Нет

		// #modal-enjoy
		
		+b.modal-win(id="modal-thanks" class="   modal-form" )
			.text-center
				img(src="img/@2x/like-finger.png", alt="").mb-1
				+e.title Благодарим за оценку!
			 
		// #modal-thanks
		+b.modal-win(id="modal-reset" class="   modal-form" )
			.text-center
				+e.title Сбросить результаты урока?
				+e.btn-wrap
					+b.btn.btn-primary.btn-lg(type="button").mx-1  
						| Да
						 
					+b.btn.btn-dark.btn-lg(type="button").mx-1  
						| Отмена

		// #modal-reset
		

		// #modal-quizlet
		+b.modal-win--quizlet(id="modal-quizlet" class="   modal-form")
			.text-center
				.title Как пользоваться программой Quizlet
				.btn.btn-primary Шаг 1
				p Выберите любую карточку, после этого Вы автоматически попадете на сайт программы, где нужно пройти простую форму регистрации, чтобы получить полный доступ к модулям.
				.wrapp
					+icon('arrow-bottom')
				.btn.btn-primary Шаг 2
				p После регистрации Вы получите доступ к выбранному модулю и сможете изучать слова в различных режимах (Карточки, Заучивание, Письмо, Правописание, Тест) с переводом и озвучкой.
				.wrapp
					+icon('arrow-bottom')
				.btn.btn-primary Шаг 3
				p Изучайте лексические карточки в Quizlet с компьютера или с мобильного устройства. Программа также позволяет отслеживать статистику изученных слов и сохранять прогресс.
				button.btn.btn-primary(type="button") Понятно

		// #modal-result
		+b.modal-win--result(id="modal-result" class="   modal-form")
			+e.moda-wrap.row
				.col-sm-6
					.bar-wrap
						<canvas id="myChart" width="260" height="260"  ></canvas>
				.col-sm-6
					+e.answers Правильных ответов
					+e.result 30 из 100
					+e.percent 30%
				button.btn.btn-primary(type="button") Показать ответы
	// modal