
mixin li-s(i,a, n)
	+e.LI.item
		+e.link(href="#")&attributes(attributes)
			+e.icon-wrap
				if n
					+e.count= n
				+icon(i)
			= a
mixin sidebar-body()
	// start sidebar
	+b.sidebar#sidebar&attributes(attributes) 
		+e.inner
			+e.inner-scroll.custom-scroll-js
				+e.head.row
					.col-auto 
						+e.toggle
							span
					.col-auto.d-lg-none
						a.top-line__logo(href="#") 
							img.res-i(src="img/svg/logo-text.svg", alt="")
				+e.UL.list
					+li-s("mnu-1","Главная")
					+li-s("mnu-2","Учебная платформа")(class="active")
					+li-s("mnu-3","Тесты")
					+li-s("mnu-4","Домашние задания", 234)
					block
	// end sidebar
mixin sidebar()
	+sidebar-body()
		+li-s("mnu-5","Мои уроки")
		+li-s("mnu-6","Оплата обучения")
		+li-s("mnu-7","Словарные карточки")
		+li-s("mnu-8","FAQ")
		+li-s("mnu-9","Языковой клуб")
		+li-s("mnu-10","Подарочный сертификат")

mixin sidebar-trener()
	+sidebar-body()
		+li-s("mnu-7","Словарные карточки")
		+li-s("mnu-5","Мои уроки")
		+li-s("student","Мои ученики")
		+li-s("mnu-8","FAQ")
