mixin s-video()
	// start s-video
	+b.s-video#s-video&attributes(attributes) 

		+e.slider--js.swiper-container
			.swiper-wrapper
				.swiper-slide
					+category-slide('video-2', '')
						+e.title.h6.text-center.mt-3.mb-4 Nicos Weg
				.swiper-slide
					+category-slide('video-3', '')(class="disabled")
						+e.title.h6.text-center.mt-3.mb-4 Extr@ Deutsch
				.swiper-slide
					+category-slide('video-4', 'pl')
						+e.title.h6.text-center.mt-3.mb-4 Türkisch für Anfänger
				.swiper-button-next
				.swiper-button-prev
	// end s-video