mixin s-video()
	// start s-video
	+b.s-video#s-video&attributes(attributes) 
		+e.slider--js.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="img/@2x/category-3.jpg", alt="")
				.swiper-slide
					img(src="img/@2x/category-3.jpg", alt="")
				.swiper-slide
					img(src="img/@2x/category-3.jpg", alt="")
				.swiper-slide
					img(src="img/@2x/category-3.jpg", alt="")
				.swiper-button-next
				.swiper-button-prev
	// end s-video