mixin category(im,n,ln)
	.col-md-4.col-sm-6.pb-4
		+b.category.A(href="#")&attributes(attributes)
			+e.DIV.img-wrap.bg-wrap.mb-3
				img.res-i.object-fit-js(src=`img/@2x/${im}.png` alt="")
				if n
					+e.numb.bg-primary.text-light= n
					.icon-wrap
						+icon('padlock')
			+e.body
				block
			if ln
				+e.studied
					.h5.text-center.fw-700.text-light= ln
	// /.test-category

mixin category-item(im,n)
	.col-md-4.col-sm-6.mb-4
		+b.category-item.card&attributes(attributes)
			+e.A.img-wrap(href="#")
				img.res-i.object-fit-js(src=`img/@2x/${im}.png` alt="")
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				+icon('padlock')
			+e.body
				block

	// /.category-item

mixin category-video(im,n)
	.col-md-4.col-sm-6.mb-4
		+b.category-video.card&attributes(attributes)
			+e.img-wrap
				img.res-i.object-fit-js(src=`img/@2x/${im}.png` alt="")
			if n
				+e.numb.bg-primary.text-light= n
			.icon-wrap
				//- +icon('')
				+icon('padlock')
			+e.body
				block

	// /.category-video