// start .category
.category {
	// @include roww(5);
	box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
	border-radius: $border-radius-lg;
	text-decoration: none !important;
	margin-bottom: rem(14);
	position: relative;
	overflow: hidden;
	display: block;
	background-color: #fff;
	@include mt;

	&:hover {
		box-shadow: 0px 1px 15px rgba(20, 46, 110, 0.3);
	}

	&__body {
		height: 100%;
	}

	&:hover img {
		transform: scale(1.1) translate(-46%, -46%);

	}

	&__img-wrap {
		overflow: hidden;
		@include block(250, 144);
		@include mt;
		box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		border-radius: rem(10px);
		margin-bottom: rem(17);
	}

	img {
		border-radius: $border-radius-lg;
		width: 100%;
		@include a-cent;
		height: 100%;
		@include mt;
	}

	&__numb {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px 0px;
		padding: rem(5) rem(10);
	}

	&__studied {
		padding-bottom: rem(13);
		background-color: $dark;
		z-index: 1;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	&:hover &__studied {
		@include mt;
		opacity: 1;
	}

	&:nth-child(n + 16) {
		display: none;
	}

	.h2 {
		font-weight: 600;
		font-size: rem(20);
	}

	&-item {
		background: #f5f5f5;
		box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.05);
		border-radius: rem(10px);
		height: 100%;
		min-height: rem(335);
		overflow: hidden;
		border: none;
		position: relative;
		display: flex;
		flex-direction: column;
		@include mt;

		&__timer {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			text-align: center;
			display: block;
			padding: rem(3);
			font-size: rem(12);
			background: rgba(255, 255, 255, 0.65);
			z-index: 10;
			color: #414D55 !important;
			font-weight: bold;
		}

		&:hover {
			box-shadow: 0px 1px 12px rgba(20, 46, 110, 0.07);
		}

		&__body {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding: rem(23) rem(14) rem(16);
		}

		&__numb {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 10px 0px;
			padding: rem(5) rem(10);
		}

		p {
			font-size: $small;
			margin-bottom: rem(4);
			line-height: 150%;
		}

		&__title {
			@extend .h6;
			font-weight: 600;
			padding-bottom: rem(6);
			margin-bottom: auto;
			line-height: 125%;
		}

		&:hover img {
			transform: scale(1.1) translate(-46%, -46%);
		}

		&__img-wrap {
			@include block(250, 144);
			@include mt;
			overflow: hidden;
			position: relative;
			border-radius: rem(10px);
			box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		}

		img {
			border-radius: $border-radius-lg;
			width: 100%;
			@include a-cent;
			height: 100%;
			// height: rem(144);
			// @include block(250,144);
			@include mt;
		}

		&__btn-wrap {
			text-align: center;
		}

		&__btn {
			@extend .btn;
			@extend .btn-outline-primary;
			margin-left: auto;
			margin-right: auto;
			padding-left: rem(21);
			padding-right: rem(21);
			padding-bottom: rem(3);
			margin-top: rem(14);

			&:hover {
				color: #fff !important;
			}
		}

		&__subtitle {
			display: flex;
			justify-content: space-between;
		}

		&--video {
			min-height: (270px);

			.play-wrap {
				display: block;
				opacity: 1 !important;
				z-index: 2;
				position: absolute;
				@include a-cent;
				@include mt;
				top: 50%;

				@include media-breakpoint-only(lg) {
					top: rem(50);
				}

				@include media-breakpoint-up(sm) {
					top: rem(75);
				}

				&::before {
					content: "";
					// display: block;
					position: absolute;
					z-index: 0;
					background: $white;
					@include a-cent;
					width: rem(20);
					height: rem(20);
				}

			}

			.icon-play {
				font-size: rem(40);
				color: $primary;
				position: relative;

			}

			.category-item__body {
				padding-top: rem(20);
				padding-bottom: rem(15);
			}


		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}

	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

// end.category

.category-slide {
	margin-left: rem(10);
	position: relative;
	border-radius: rem(10);
	box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
	overflow: hidden;
	height: 100%;

	img {
		border-radius: rem(10);
		@include a-cent;
		@include mt;
		width: 100%;
		height: 100%;
	}

	&__title {
		padding-top: rem(23);
		padding-bottom: rem(34);
	}

	// &:hover &__img-wrap {
	// 	transform: scale(1.1);
	// }

	&:hover .icon-play {
		opacity: 1;
	}

	&__img-wrap {
		@include block(250, 144);
		border-radius: rem(10);
	}

	&__playlist {
		position: absolute;
		// @include a-cent;
		top: 40%;
		background-color: $white;
		right: rem(0);
		width: rem(127);
		height: 102%;
		z-index: 1;
		opacity: 0;
		right: 0;
		top: -1%;
		color: #000;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: rem(10) 0 0 rem(10);
		@include mt;

		span {
			padding-top: rem(10);
			font-size: rem(10);
			line-height: rem(12);
			font-weight: bold;
			margin-bottom: rem(11);
		}
	}

	.icon-playlist {
		color: $primary;
		font-size: rem(30);
	}

	&:hover &__playlist {
		opacity: 0.9;
	}
}

.icon-wrap {
	display: none;
	@include a-cent;


	color: $white;
	background-color: #414d55;
	border-radius: 50%;
	padding: rem(15);

	.icon {
		font-size: 1.6rem;
	}
}

.before {
	display: none;
}

.disabled {
	// pointer-events: none;
	position: relative;

	.before {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.65);
		z-index: 2;
	}

	* {
		// opacity: 0.7;
	}

	.icon-wrap {
		display: block;
		pointer-events: none;
	}

	.icon-wrap,
	.icon-wrap * {
		opacity: 1;
		z-index: 4;
	}

	.category__playlis {
		display: none;
	}

	.icon-play {
		display: none;
	}
}