html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.screen {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
	margin-left: -5px;
}

body,
html {
	@include media-breakpoint-up(md) {

		font-size: $em-base;
	}

	font-size: 14px;
	// @include font-size(1rem);
	// min-height: 2000px;
}

.p {
	@extend p;
	margin-bottom: 0;
	padding-bottom: .5rem;
	line-height: 1.85;
}

.p,
p {
	color: $darkl;

	.panel-block__input-wrap {

		display: inline-block !important;

	}

	.form-control {
		min-width: rem(134);
		width: rem(134);

		&:empty {}

		display: inline-block;
		// display: inline !important;
		width: auto;
	}

	.select2-container--default {
		min-width: rem(120);

		// min-width: max-content;
		// display: inline-block;
	}
}

.main-block {

	.p,
	p {
		font-size: rem(16);
	}
}

.section {
	@include bgs;
	padding-top: rem(31px);
	padding-bottom: rem(40px);

	&--sm {
		padding-top: rem(40px / 2);
		padding-bottom: rem(30px / 2);

	}
}

.section-title {
	@extend .h2;
	padding-bottom: em(10);

	>h2 {
		font-size: inherit;

		@include media-breakpoint-up(md) {}
	}
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		@include media-breakpoint-down(md) {

			&::before {
				z-index: 999;
				// z-index: 99;
				opacity: 0.76;
			}
		}
	}
}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10);
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;
		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}


.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
			background-color: green;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}


// select.form-control {
// 	background-image: url(../img/svg/chevron-up.svg);
// 	background-repeat: no-repeat;
// 	background-position: calc(100%  - 20px) 50%; // background-size: rem(18) ;
// 	padding-right: rem(43px);
// 	appearance: none !important;

// 	&:not([size]):not([multiple]) {
// 		height: $input-height;
// 	}

// 	&:focus::-ms-value {

// 	}
// }


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: 45px;
	height: 16px;
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);

	&-next {
		// background-image: url(../img/arr-right.png);
		right: 0;
	}

	&-prev {
		left: 0;
		// background-image: url(../img/arr-left.png);

	}

}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

img.object-fit-js,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}


.btn {
	box-shadow: none !important;
}

.btn-white {
	color: $primary;

	&:hover {
		background-color: $primary;
		border-color: $primary;
		color: #ffffff;
	}
}

.row--sm {
	@include roww(5);
}


.btn:disabled {
	pointer-events: none;
}

.mCSB_scrollTools .mCSB_draggerRail {
	border: none;
	background-color: $white;
	width: $border-radius;

}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: $primary !important;
}

.mCSB_inside>.mCSB_container {
	margin-right: 0;
}

.mCustomScrollBox {
	// max-height: 100% !important;
}

.mCSB_scrollTools {
	right: rem(-4) !important;
}

.icon-arrow-long-left {
	font-size: rem(8);
	margin-right: rem(15);
}

.table {
	margin-bottom: rem(30);

	td,
	th {
		border-right: 1px solid #dce2e8;

		&:not(:last-child) {
			border-left: 1px solid #dce2e8;

		}
	}

	thead {
		th {
			background-color: $body-bg;
			border-top: none;
			border-bottom: none;
		}
	}

	tbody {
		tr:first-child {

			th,
			td {
				border-top: none;

			}
		}

		tr:last-child {

			th,
			td {
				border-bottom: 1px solid #dce2e8;

			}
		}

	}
}

.btn-150 {
	width: rem(150);
}

.page-without-top-line {

	@include media-breakpoint-up(lg) {
		.container--main {
			margin-top: 0 !important;
			height: 100vh !important;
			// overflow-y: auto;
		}
	}

	// .sidebar-right,
	@include media-breakpoint-up(lg) {

		.main-block {
			padding-top: rem(0);
		}

	}

	.main-block {
		overflow-y: auto;
		overflow-x: hidden;

		.panel-block {
			@include media-breakpoint-up(lg) {

				min-height: calc(100vh - #{rem(170)})
			}

			min-height: calc(100vh - #{rem(190)} - #{$top-line-height})
		}

		@include media-breakpoint-up(lg) {

			height: calc(100vh - #{rem(130)} - 2.85714rem) !important;
			max-height: calc(100vh - #{rem(130)} - 2.85714rem) !important;
		}

		padding-bottom: 0;
		height: calc(100vh - #{rem(130)} - #{$top-line-height} - 2.85714rem) !important;
		max-height: calc(100vh - #{rem(130)} - #{$top-line-height} - 2.85714rem) !important;
		// border-radius: 0 0 rem(10) rem(10);
	}

	.main-block__body {
		margin-bottom: 0;

		.panel-block:last-child {
			margin-bottom: 0;
		}
	}

	@include media-breakpoint-up(lg) {

		.sidebar-right {
			padding-top: rem(0);
			height: calc(100vh - #{rem(22)}) !important;
			max-height: calc(100vh - #{rem(22)}) !important;

		}

		.sidebar__inner {
			top: 0 !important;
			height: 100vh !important;
		}

		.main-wrapper {
			padding-top: rem(10);
			height: 100vh;
		}

	}

	.main-block.custom-scroll-js {
		.panel-block {
			border-radius: 0 0 rem(10) rem(10);
		}

		.mCSB_scrollTools {
			// display: none !important;
			// opacity: 0 !important;
		}
	}
}

.custom-scroll-js {

	overflow: hidden;
	overflow-y: auto;

	&:hover {

		scrollbar-color: $primary #fff;
	}

	@include media-breakpoint-up(lg) {

		&::-webkit-scrollbar-thumb {
			opacity: 0;
			display: none;
		}

	}
}

*,
.custom-scroll-js {
	@include media-breakpoint-up(lg) {

		scrollbar-color: transparent #fff;
	}

	scrollbar-width: thin;
	scrollbar-color: $secondary #fff;

	&:hover::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: #fff;
		border-color: #fff;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		background-color: #fff;
		/* or add it to the track */
		border-color: #fff;
		opacity: 0;
		-webkit-box-shadow: none;
	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: $secondary;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}

.valid-block,
.valid-block * {
	opacity: 1;
}

.tox-statusbar {
	display: none !important;
}

.bolder {
	// font-weight: 500;
}

.tox-tinymce {
	/* border-radius: 6px; */
	background: #FFFFFF;
	border: 1px solid #D3DAFF !important;
	box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1) !important;
	border-radius: 2px !important;
	// padding: .5rem;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
	border-color: #D3DAFF !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
	border-bottom: 1px solid #D3DAFF !important;
	background: none !important;
}

.load-more {
	margin-left: auto;
	margin-right: auto;
	@extend .h5;
	font-weight: bold;
	border-radius: $border-radius;
	border: 1px solid #ececec;
	padding: rem(11) rem(42) !important;
	@include mt;
}

.card {
	&--theory {
		height: 100%;
		min-height: rem(70);
		text-align: center;
		@include mt;

		&:hover {
			box-shadow: 0 1px .71429rem rgba(37, 38, 94, .1);
		}

		.card-body {
			align-items: center;
			justify-content: center;
			display: flex;
			padding-top: rem(10);
			padding-bottom: rem(10);
		}
	}
}

.row--md {
	@include roww(10);
}

.smallest {
	font-size: rem(12);
}

.minh-100 {
	min-height: 100%;
}

.btn-link {
	color: $body-color;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.mb-30 {
	margin-bottom: 30px;
}

.btn-md {
	padding: rem(8) rem(12);
}

@include media-breakpoint-up(md) {

	.border-md-right {
		border-right: 1px solid;
	}
}

@include media-breakpoint-down(sm) {
	.border-mob-bottom {

		border-bottom: 1px solid;
	}

}

.club-img-wrap {
	@include block(792, 345);
	// max-width: rem(792);
	overflow: hidden;
	background-color: $white;
	border-radius: $border-radius-lg;
	margin-bottom: rem(21px);
	box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);

	img {
		@include a-cent;

		@include media-breakpoint-up(md) {
			width: 85%;
		}

		top: 67%;
	}
}

.btn-outline-info {
	color: $primary;

	&.current {
		background-color: $primary !important;
		color: #ffffff !important;
	}
}

.page-head {
	p {
		max-width: rem(641);
		padding-bottom: 5px;
	}
}

.table {
	vertical-align: bottom;

	td,
	thead th {
		vertical-align: middle;
	}
}

.body--rules {
	p {
		font-size: rem(16);
	}
}

.table-responsive--stud {
	max-height: rem(280);

	td {
		padding-top: rem(15);
		padding-bottom: rem(15);
	}
}

.label-color {
	display: inline-block;
	width: rem(20px);
	height: rem(20px);

	border-radius: rem(4px);
}


.table-responsive {
	margin-bottom: 1rem;

	.table {
		margin-bottom: 0;
	}
}

.select-group {
	.select2-container--default {
		min-width: 100% !important;
		width: 100% !important;
	}

	@include media-breakpoint-down(lg) {
		display: block;

	}

	.select2-container--default .select2-selection--single {
		border-width: 1px;
	}

	.select2-dropdown {
		border-color: #d3daff;
	}
}

.input-variant .input-variant__text {
	background-color: #ffffff;
}

.custom-select-wrap--theme {
	min-width: rem(340);

	.select2-container--default {
		min-width: 100% !important;
		// margin-right: -2px;
	}


}

.btn-md {}

.bar-wrap {
	max-width: rem(260);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: rem(30);
}

.card {
	border: none;
}