$default-font: Lato;
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff;

@include font-face ($default-font, $addr + "latoregular/latoregular", $file-formats: $file-format);
@include font-face ($default-font, $addr + "latobold/latobold", bold, $file-formats: $file-format);
@include font-face ($default-font, $addr + "latosemibold/latosemibold", 600, $file-formats: $file-format);
@include font-face ($default-font, $addr + "latomedium/latomedium", 500, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold
.fw-600 {
  font-weight: 600;
}