@include media-breakpoint-up(xl) {

  .row--main {
    @include roww(45 / 2);
  }
}

.container--main {
  @include media-breakpoint-up(sm) {

    margin-top: $top-line-height;
    min-height: calc(100vh - #{$top-line-height} - 84px);
  }

  margin-top: $top-line-height-mob;
  min-height: calc(100vh - #{$top-line-height-mob} - 84px);
}

.h1,
h1,
h2,
.h2 {
  color: $dark;
  font-weight: bold;
}



.view-stat {
  display: flex;
  align-items: center;
  text-decoration: none !important;

  &__title {
    text-align: right;
    max-width: rem(75);
    font-weight: 600;
    line-height: 1.4;
    color: $dark;
  }

  &:hover {
    color: $primary;
  }

  &:hover &__icon-wrap {
    background-color: $primary;
    color: #ffffff;
  }

  &__icon-wrap {
    margin-left: rem(10);
    width: rem(40px);
    height: rem(40px);
    box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    border-radius: 10px;
    background-color: $white;
    display: flex;
    align-items: center;
    @include mt;
    justify-content: center;

    .icon {
      font-size: rem(26);
    }
  }
}

.main-block {
  padding-bottom: rem(20);
  padding-bottom: rem(40);

  @include media-breakpoint-up(xl) {}

  &__head {
    padding-bottom: rem(20);

    .h1 {
      padding-bottom: 0;
    }
  }

  &__body {
    margin-bottom: rem(40);
  }
}

.breadcrumb {
  padding-bottom: rem(20);
  color: $secondaryd;
}


.btn--more {
  background-color: #ffffff;
  color: $primary;
  width: rem(170);
  margin-bottom: rem(21);
  margin-top: rem(10);

  &:hover {
    background-color: $primary;
    color: #ffffff;

  }
}

.col--main-base {
  @include media-breakpoint-up(xl) {


    width: calc(100% - #{rem(295 - 45/2)});
  }

  @include media-breakpoint-up(lg) {


    width: calc(100% - #{rem(295)} - 30px);
  }

  // @include media-breakpoint-up(sm) {

  //   width: calc(100% - #{rem(80)} - 30px);

  // }

  // width: calc(100% - #{rem(50)} - 15px);

  // @include media-breakpoint-down(xs) {
  //   padding-left: 0;
  // }
}

.col--main-lesson {
  @include media-breakpoint-up(xl) {


    max-width: calc(100% - #{rem(80 + 45 / 2 + 290 )});
  }

  @include media-breakpoint-up(lg) {


    max-width: calc(100% - #{rem(80 + 170 )} - 30px);
  }

  // @include media-breakpoint-up(sm) {

  //   width: calc(100% - #{rem(80)} - 30px);

  // }

  // width: calc(100% - #{rem(50)} - 15px);

  // @include media-breakpoint-down(xs) {
  //   padding-left: 0;
  // }
  p {
    line-height: 1.65;
  }
}

.accordion {
  &__toggle {
    span {
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-right: rem(20);

      &::after {
        content: '';
        position: absolute;
        top: rem(13);
        right: 0;
        // margin-left: rem(0);
        @include triangle(rem(11), $primary, down);
        @include mt;
      }
    }

    &.active span {
      &::after {

        transform: rotateX(180deg);
      }
    }
  }

  &__dropdown {
    &:not(.active) {
      display: none;
    }
  }
}

.progress-block {
  display: flex;
  align-items: flex-start;

  margin-left: rem(- 9 /5);
  margin-right: rem(- 9 /5);
  margin-bottom: rem(12);
  height: 8px;

  &__item {
    margin-left: rem(9 /5);
    margin-right: rem(9 /5);
    height: 4px;
    max-width: 100%;
    flex-grow: 1;
    display: block;
    background-color: #eaeaea;

    &--current {
      height: 8px;
    }
  }
}