mixin s-profile(pr)
	// start s-profile
	+b.s-profile&attributes(attributes) 
		+e.edit.text-right
			+link-edit
		+e.row.row
			.col
				+e.img-wrap
					if pr
						img.res-i.object-fit-js(src=`img/@2x/profile-2.jpg` alt="")
					else
						img.res-i.object-fit-js(src=`img/@2x/profile-1.png` alt="")
			.col-sm-7
				+e.name Александр
				if pr
					p 10.02.1985
					p Россия, Москва
				else 
					p Дата рождения не указана
					p Страна и город не указаны
				+e.interests Интересы
				if pr
					p книги, путешествия, йога, иностранные языки, коллекционирование монет
				else
					p Интересы не указаны
				+e.tel Телефон
				if pr
					p +7 (987) 654-32-10
				else
					p +79876543210
				+e.pass Пароль
				p *******************
				+e.id ID
				p 1490
				span Сообщите Ваш ID&nbsp;во время звонка менеджеру школы, если&nbsp;Вы планируете сообщить нам какую-либо информацию по&nbsp;обучению, отмене или переносе занятий. Так мы&nbsp;сможем более оперативно решить Ваш вопрос.

	// end s-profile