// start .sidebar-right
.col--right {
	@include media-breakpoint-up(xl) {

		margin-left: rem(-10);
	}

	@include media-breakpoint-up(lg) {
		padding-left: 0 !important;

	}
}

.sidebar-right {
	display: flex;
	flex-direction: column;

	.custom-scroll-js {

		@include media-breakpoint-up(lg) {

			margin-left: rem(-20);
			margin-right: rem(-20);
			padding-left: rem(20);

		}

		margin-left: rem(-15);
		margin-right: rem(-15);
		padding-left: rem(15);

		.mCSB_container {
			@include media-breakpoint-up(lg) {

				padding-right: rem(20);
			}

			padding-right: rem(15);
		}
	}

	.mCSB_scrollTools {
		// right: rem(-5) !important;
	}

	@include media-breakpoint-up(lg) {

		height: 100%;
		max-height: calc(100vh - #{$top-line-height} - 30px);
		padding-bottom: 0 !important;
	}


	@include media-breakpoint-up(lg) {

		width: rem(240);
	}

	// width: 100%;
	// margin-left: rem(-20);
	.accordion {
		&__toggle {
			position: relative;
			font-weight: bold;
			cursor: pointer;

			&::before,
			&::after {
				content: '';
				position: absolute;
				right: 0;
				width: 20.08px;
				height: 2px;
				// transform: ;
				@include a-cent(y);
				@include mt;

				background: #2746FF;

			}

			&:not(.active)::before {
				transform: translateY(-1px) rotate(90deg);
				// position: absolute;
			}
		}

		&__dropdown {
			padding-top: rem(14);

			.panel-block__body-sm {
				max-height: rem(104);
				// position: relative;
				// overflow-y: auto;
				// overflow-x: hidden;
			}
		}

	}

	.progress-block {
		position: relative;
		z-index: 2;

		&::before {
			z-index: -1;
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: #eaeaea;
		}
	}

	.h6.strong.mb-4 {
		position: relative;
	}

	.row {
		@include roww(3)
	}

	.icon-telegram {
		font-size: rem(21);
		color: $primary;
	}
	.tox-tinymce {
		border: none !important;
		box-shadow: none !important;
	}
	.tox-toolbar__primary{
		// border: 1px solid #ccc;
	 

	}
	.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary{
		border:  none !important;
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {
		padding-top: 0;
	}

	@include media-breakpoint-down(xs) {}

}

// end.sidebar-right

.download-link {
	display: flex;
	align-items: center;
	margin-bottom: rem(10);
	text-decoration: none !important;

	&__icon-wrap {
		margin-right: rem(14);

		.icon {
			color: $primary;
			font-size: rem(26);
		}
	}

	@extend .text-darkl;

	// color: $darkl;
	&:hover &__title {
		border-color: transparent;
	}

	&__title {
		// border-bottom: 1px solid;
		display: inline;
		line-height: 1;
		@include mt;
		font-weight: bold;
	}
}

.edit-note {
	color: #bdbdbd;
	@include mt;
	cursor: pointer;

	.icon {
		font-size: rem(15);
	}

	&.active,
	&:hover {
		color: $primary;
	}
}

.note-block {
	display: flex;
	flex-direction: column;

	.tox .tox-tbtn {
		margin-left: -1px;
		zoom: .75;

		@include media-breakpoint-up(md) {
			// zoom: .58;

			// position: absolute;
			// top: 0;
			// z-index: 100;
		}
	}


	position: relative;

	@include media-breakpoint-up(lg) {

		bottom: 0;
		max-height: calc(100% - #{rem(50)});

		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		// @extend .panel-block;
		padding-top: 0;

		box-shadow: none;

		margin-bottom: 0;
		padding-bottom: rem(20);
		padding-left: rem(15);
		padding-right: rem(0);
	}


	// @extend .panel-block--sm;

	// padding-bottom: rem(20);
	// padding-right: rem(30);


	.tox.tox-tinymce {
		@include media-breakpoint-up(lg) {

			height: 100% !important;
		}
		// border-bottom: 1px solid #ccc;
	}

	.tox-tinymce-inline .tox-editor-header,
	.tox-toolbar__group {
		border: none !important;
	}

	.mce-content-body {
		padding-left: 0;
		padding-right: 0;
	}

	&__text {
		height: 100%;
		outline: none !important;
	}

	.custom-scroll-js {
		@include media-breakpoint-up(lg) {
			max-height: 100%;
			height: 100%;
			// padding-top: rem(30);
		}

		// padding-top: rem(40);
		max-height: rem(200);
		flex-grow: 1;
	}

	p {
		margin-bottom: 0;
	}
}

.tox-statusbar__branding {
	display: none !important;
}

.panel-block--note {
	flex: 1;
	display: flex;


	flex-direction: column;
	margin-bottom: 0;
	position: relative;
	@media (max-width: 991.98px){ 
		padding-right: rem(0);
	}
	// max-height: calc(100% - #{rem(40)});
	.mce-content-body {
		// margin-bottom: 0;
		padding: 0 !important;
	}

	.tox {

		// border-bottom: 1px solid #ccc;
	}

	.mytoolbar {
		margin-left: -1px;
		position: absolute;
		width: 100%;
		left: 0;

		@include media-breakpoint-up(lg) {

			padding-left: rem(20);
			padding-right: rem(20);
			top: 0;
		}

		top: rem(10);


		z-index: 10;
	}
}

// .tox-editor-container button.tox-tbtn {
// 	@include media-breakpoint-up(md) {

// 		zoom: .5;
// 	}


// }

body {
	padding: 0 !important;
}