mixin sidebar-right()
	// start sidebar-right
	+b.sidebar-right.section#sidebar-right&attributes(attributes) 
		+panel()( class="panel-block--sm ")
			.accordion
				
				+e.head-sm.accordion__toggle.h6.active.mb-0 Materialien
				.accordion__dropdown.active
					+e.body-sm.custom-scroll-js
						+b.download-link(href="#")
							+e.icon-wrap
								+icon('doc')
							+e.title Glossar
						
						+b.download-link(href="#")
							+e.icon-wrap
								+icon('doc')
							+e.title Perfekt
						+b.download-link(href="#")
							+e.icon-wrap
								+icon('doc')
							+e.title Modale Verben
							
						+b.download-link(href="#")
							+e.icon-wrap
								+icon('doc')
							+e.title Modale Verben
						+b.download-link(href="#")
							+e.icon-wrap
								+icon('doc')
							+e.title Modale Verben
						+b.download-link(href="#")
							+e.icon-wrap
								+icon('doc')
							+e.title Modale Verben

		+panel()( class="panel-block--sm ")
			.text-center
				.h6.strong.mb-4 Ergebnis
				+b.progress-block
					+e.item.bg-primary(style="max-width: 50%")
				.small.text-darkl 12 von 24 (50%)
		+panel()(href="#" class="panel-block--sm d-block text-dark tdn ")
			.h6.strong.mb-0
				.row
					.col  Hausaufgabe schicken
					.col-auto
						+icon('telegram') 
		+panel()( class="panel-block--sm panel-block--note")
			.h6.strong.mb-0
				.row
					.col Notizen
					.col-auto
						+b.edit-note--js()
							+icon('pencil')
			+b.note-block
				.mytoolbar
				.custom-scroll-js
					+e.text--js
						div die Mutter
						
						div das Kind
						
						div die Tochter
						
						div am 3. November
						
						div selbstverständlich
						
						div gehen - ging - gegangen (sein)
						
						div sein - war - #[u gewesen ]
						
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						
						div sein - war - #[u gewesen ]
						

				//- +e.text--edit

	// end sidebar-right