extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/sidebar/_sidebar.pug
include ../blocks/sidebar-right/_sidebar-right.pug
include ../blocks/footer-lesson/_footer-lesson.pug

block variables
	- let  mainPage= "page-without-top-line"
block title
	- let  title= 'Компоненты'
	title= title
block pagecontent  
	+page("l") 
		+panel-head() 
		+b.main-block.custom-scroll-js 
			+panel()(class=" panel-block--lg mb-0 note-page")
				h1 Компоненты
				div
					a.btn.btn-primary.link-modal(href="#modal-enjoy") Вам понравился урок?
					a.btn.btn-primary.link-modal(href="#modal-thanks") Благодарим за оценку!
					a.btn.btn-primary.link-modal(href="#modal-reset") Сбросить результаты урока?
				div.mt-4
					a.btn.btn-primary.link-modal(href="#modal-quizlet") Подробнее
				div.mt-4 
					a.btn.btn-primary.link-modal(href="#modal-result") Показать мои ответы
				div.mt-4 
					div Личный кабинет преподавателя
					a.btn.btn-primary.link-modal(href="#modal-hw") Задать ДЗ
					a.btn.btn-primary.link-modal(href="#modal-success") Домашнее задание   отправлено
				div.mt-4
					div Модальное окно "Сменить пароль"
					a.btn.btn-primary.link-modal(href="#modal-password") Изменить пароль