extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Тесты (список категорий)'
	title= title
block pagecontent  
	+page()
		+e.head
			.breadcrumb.h6 Категории
		.row
			+category('tests-1', 'Тесты')
			+category('tests-2', 'Грамматика')
			+category('tests-3', 'Лексика')
			+category('tests-4', 'Чтение')
			+category('tests-5', 'Видео')
			+category('tests-6', 'Аудирование')
			+category('tests-7', 'Экзамены')
			+category('tests-8', 'Теория')




	+footer