extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Тесты (список категорий)'
	title= title
block pagecontent  
	+page()
		+e.head
			.breadcrumb.h6 Категории
		.row
			+category('tests-1','','')
				.h2.text-center.pb-3.pl-1.pr-1 Тесты
			+category('tests-2','','')
				.h2.text-center.pb-3.pl-1.pr-1 Грамматика
			+category('tests-3','','')
				.h2.text-center.pb-3.pl-1.pr-1 Лексика
			+category('tests-4','','')
				.h2.text-center.pb-3.pl-1.pr-1 Чтение
			+category('tests-5','','')
				.h2.text-center.pb-3.pl-1.pr-1 Видео
			+category('tests-6','','')
				.h2.text-center.pb-3.pl-1.pr-1 Аудирование
			+category('tests-7','','')
				.h2.text-center.pb-3.pl-1.pr-1 Экзамены
			+category('tests-8','','')
				.h2.text-center.pb-3.pl-1.pr-1 Теория




	+footer