extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Категория "Тесты"'
	title= title
block pagecontent  
	+page()
		+e.head
			.row.align-items-center.pb-3
				.col
					a.h6.strong.text-secondaryd.tdn(href="#") 
						+icon("arrow-long-left")
						| Тесты
			.row
				.col.pb-4
					+b.select-group.input-group
						.custom-select-wrap
							select.custom-select-js.form-control
								option(value="" selected disabled) Тема
								option(value="Alabama") Alabamasdfdsfs dsfsdf
								option(value="Alabama") Alabama
								option(value="Alabama") Alabama
								option(value="Alabama") Alabama
						.custom-select-wrap
							select.custom-select-js.form-control
								option(value="" selected disabled) Уровень
								option(value="Alabama") Alabamasdfdsfs dsfsdf
								option(value="Alabama") Alabama
								option(value="Alabama") Alabama
								option(value="Alabama") Alabama
						+e.btn.btn-primary.input-group-text(type="button") Найти
			.row
				+category-item('category-1','Meine Familie','done')
				+category-item('category-2','Freizeitaktivitäten','done')
				+category-item('category-3','Essen und Trinken in Deutschland und in deutschsprachigen Ländern','')(class="disabled")
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')
				+category-item('tests-3','Etiam finibus sit amet est feugiat pharetra.')



	+footer