extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Категория "Тесты"'
	title= title
block pagecontent  
	+page()
		.align-items-center.pb-4.pt-1
			a.h6.strong.text-secondaryd.tdn(href="#") 
				+icon("arrow-long-left")
				| Тесты
		+select-group()

		.row.roww-md
			+category-item('vocabulary-3','')
				+e.title Meine Familie
				p Уровень: #[strong.fw-700 A1]
				p.text-primary.fw-700 Результат: 15 из 30 (50%)
				+e.btn-wrap
					+e.btn.A(href="#") Пройти заново
			+category-item('category-2','')
				+e.title Freizeitaktivitäten
				p Уровень: #[strong.fw-700 A1]
				p.text-primary.fw-700 Результат: 15 из 30 (50%)
				+e.btn-wrap
					+e.btn.A(href="#") Пройти заново
			+category-item('category-3','','')(class="disabled bg-white")
				+e.title Essen und Trinken in Deutschland und in deutschsprachigen Ländern
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			+category-item('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				p Уровень: #[strong.fw-700 A1]
				p Не пройден
				+e.btn-wrap
					+e.btn.A(href="#") Пройти
			.col-12.text-center
				button.load-more.btn.btn-primary.mt-3.mb-3 Показать еще



	+footer