extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Категория "Видео"'
	title= title
block pagecontent  
	+page()
		.row.align-items-center.pb-4.pt-1
			.col
				a.h6.strong.text-secondaryd.tdn(href="#") 
					+icon("arrow-long-left")
					| Видео
		+b.select-group.input-group.mt-1
			.custom-select-wrap
				select.custom-select-js.form-control
					option(value="" selected disabled) Тема
					option(value="Alabama") Alabamasdfdsfs dsfsdf
					option(value="Alabama") Alabama
					option(value="Alabama") Alabama
					option(value="Alabama") Alabama
			.custom-select-wrap
				select.custom-select-js.form-control
					option(value="" selected disabled) Уровень
					option(value="Alabama") Alabamasdfdsfs dsfsdf
					option(value="Alabama") Alabama
					option(value="Alabama") Alabama
					option(value="Alabama") Alabama
			+e.btn.btn-primary(type="button") Найти
		+s-video
		.row.row--md
			+category-video('video-1','')
				+e.title Meine Familie
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					p Выполнено
			+category-video('category-2','')
				+e.title Freizeitaktivitäten
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					p Выполнено
			+category-video('category-3','','')(class="disabled bg-white")
				+e.title Essen und Trinken in Deutschland und in deutschsprachigen Ländern
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			button.load-more.btn.text-primary.bg-white.mt-3.mb-3 Показать еще



	+footer