extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Категория "Тесты"'
	title= title
block pagecontent  
	+page('','trener')
		.row.align-items-center.pb-4.pt-1
			.col
				a.h6.strong.text-secondaryd.tdn(href="#") 
					+icon("arrow-long-left")
					| Тесты
		.row
			.col.pt-1
				+b.select-group.input-group
					.custom-select-wrap
						select.custom-select-js.form-control
							option(value="" selected disabled) Категории
							option(value="Alabama") Alabamasdfdsfs dsfsdf
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
					.custom-select-wrap
						select.custom-select-js.form-control
							option(value="" selected disabled) Уровень
							option(value="Alabama") Alabamasdfdsfs dsfsdf
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
					.custom-select-wrap
						select.custom-select-js.form-control
							option(value="" selected disabled) Уровень
							option(value="Alabama") Alabamasdfdsfs dsfsdf
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
							option(value="Alabama") Alabama
					+e.btn.btn-primary.other-button(type="button") Найти
		.row.roww-md
			+category-item('lesson-img','')
				+e.title Essen und Trinken in Deutschland
				p Тема #[strong.fw-700 Wortfolge in Fragesätzen]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать заново
			+category-item('lesson-img','')
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать заново
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать
			+category-item('lesson-img','')(class="bg-white")
				+e.title Quisque eget dictum ante. Morbi convallis
				p Тема #[strong.fw-700 Articel ]
				p Уровень: #[strong.fw-700 A1]
				p Заданий: #[strong 25]
				+e.btn-wrap
					+e.btn.A(href="#") Задать

			.col-12.text-center
				button.load-more.btn.text-primary.bg-white.mt-3.mb-3 Показать еще



	+footer