extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Категория "Тесты"'
	title= title
block pagecontent  
	+page('')
		.row.align-items-center.pb-4.pt-1
			.col
				.h6.strong.text-secondaryd.tdn Личный кабинет
		+panel()(class="p-0 panel-block--main-head")
			.row.mx-0
				.col-md-6.border-md-right.border-mob-bottom.border-light.panel-block__group
					.mb-2 Ваш ближайший урок состоится
					.h4.strong 28 января в 18:00 по МСК
				.col-md-6.px-0
					.panel-block__group.row.no-gutters.border-bottom.border-light.align-items-center
						.col Уроков запланировано
						.col-auto
							a(href="#") 
								+icon("calendar")
							strong 3
					
					.panel-block__group.row.no-gutters.align-items-center
						.col Уроков пройдено
						.col-auto
							strong 123
		.row.row--md
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.pb-1
						.col
							.h2.strong Домашнее задание
						.col-auto
							+b.arrow-wrap
								+e.arrow-hw.swiper-button-prev
									+icon("chevron-left")
								+e.counter.swiper-pagination 
								+e.arrow-hw.swiper-button-next
									+icon("chevron-right")
					+b.slider-hw.swiper-container.slider-js
						.swiper-wrapper
							- for (var x = 0; x < 23; x++)
								.swiper-slide
									.h6.font-weight-normal.mb-3 Gemischte Deklination der Adjektive
									.smallest.mb-1 #[strong Тема:] Deklination der Adjektive
									.smallest.mb-1 #[strong Уровень]: B1
									.smallest.mb-1 #[strong Заданий:] 30
									.small.strong.text-primary.mt-2.mb-3 Выполнить до: 28.01.20
									a.btn.btn-primary.btn-md.btn-block(href="#") Приступить к выполнению
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.row--sm
						.col-auto.text-center
							+e.avatar
								+e.avatar-wrap
									img(src="img/@2x/trener.jpg", alt="")
								+e.sound
									+icon("microfon")
							.fw-600 Владислав
						.col
							.h2.strong.pb-1 Мой преподаватель
							.smallest #[strong Опыт работы:] 
								| 
								span.display-inline-block 10 лет
							.smallest #[strong Образование:]  
								| 
								span.display-inline-block высшее педагогическое
							.smallest #[strong Специализация:] 
								| 
								span.display-inline-block деловой и разговорный немецкий, подготовка к собеседованию, общий курс немецкого языка, страноведение.
					+e.btn-wrap.d-flex.pt-4
						a.btn.w-50.btn-link(href="#") Подробнее
						a.btn.w-50.btn-outline-light(href="#") Оставить отзыв
						
		.row.row--md
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.pb-1
						.col
							.h2.strong Домашнее задание
						.col-auto
					p Ещё на задано
					//- 		+b.arrow-wrap
					//- 			+e.arrow-hw.swiper-button-prev
					//- 			+e.counter.swiper-pagination 
					//- 			+e.arrow-hw.swiper-button-next
					//- +b.slider-hw.swiper-container.slider-js
					//- 	.swiper-wrapper
					//- 		- for (var x = 0; x < 23; x++)
					//- 			.swiper-slide
					//- 				.h6.font-weight-normal.mb-3 Gemischte Deklination der Adjektive
					//- 				.smallest.mb-1 #[strong Тема:] Deklination der Adjektive
					//- 				.smallest.mb-1 #[strong Уровень]: B1
					//- 				.smallest.mb-1 #[strong Заданий:] 30
					//- 				.small.strong.text-primary.mt-2.mb-3 Выполнить до: 28.01.20
					//- 				a.btn.btn-primary.btn-md.btn-block(href="#") Приступить к выполнению
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.row--sm
						.col-auto.text-center
							+e.avatar
								+e.avatar-wrap
									img(src="img/@2x/trener.jpg", alt="")
								+e.sound
									+icon("microfon")
							.fw-600 Владислав
						.col
							.h2.strong.pb-1 Мой преподаватель
							.smallest #[strong Опыт работы:] 
								| 
								span.display-inline-block 10 лет
							.smallest #[strong Образование:]  
								| 
								span.display-inline-block высшее педагогическое
							.smallest #[strong Специализация:] 
								| 
								span.display-inline-block деловой и разговорный немецкий, подготовка к собеседованию, общий курс немецкого языка, страноведение.
					+e.btn-wrap.d-flex.pt-4
						a.btn.w-50.btn-link(href="#") Подробнее
						a.btn.w-50.btn-outline-light(href="#") Оставить отзыв

		.row.row--md
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.row--sm.pb-1
						.col
							.h2.strong Моя цель
						.col-auto
							a.link-edit(href="#").text-secondary
								+icon("pencil")
								| Редактировать
					div Сдать экзамен Goethe Zertifikat С1 до октября 2020 года
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.h2.strong.pb-1 Мой курс
					div Подготовка к экзаменам
		p новый пользователь
		+panel()(class="p-0 panel-block--main-head")
			.row.mx-0
				.col-md-6.border-md-right.border-mob-bottom.border-light.panel-block__group
					.h6 У вас пока нет запланированных уроков
				.col-md-6.px-0
					.panel-block__group.row.no-gutters.border-bottom.border-light.align-items-center
						.col Уроков запланировано
						.col-auto
							a(href="#") 
								+icon("calendar")
							strong 0
					
					.panel-block__group.row.no-gutters.align-items-center
						.col Уроков пройдено
						.col-auto
							strong 0
 
		.row.row--md
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.pb-1
						.col
							.h2.strong Домашнее задание
						.col-auto
					p Ещё на задано
 
	 
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.pb-1
						.col
							.h2.strong Мой преподаватель
						.col-auto
					p  Ещё   не назначен
 
	 

		.row.row--md
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.row.row--sm.pb-1
						.col
							.h2.strong Моя цель
						.col-auto
							+link-edit()
			 
			.col-md-6.mb-30
				+panel()(class="minh-100")
					.h2.strong.pb-1 Мой курс
					div Курс ещё не выбран
	
	+footer