extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/category/_category.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug
include ../blocks/s-profile-edit/_s-profile-edit.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Desktop - Редактирование профиля'
	title= title
block pagecontent  
	+page('')
		.row.align-items-center.pb-4.pt-1
			.col
				a.h6.strong.text-secondaryd.tdn(href="#") 
					+icon("arrow-long-left")
					| Редактирование профиля
		+s-profile-edit




	+footer