

extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Наши правила (ЛК преподавателя))'
	title= title
block pagecontent  
	+page('','trener')
		+e.page-head
			.row.align-items-center.pb-4.pt-1
				.col
					a.h6.strong.text-secondaryd.tdn(href="#") 
						+icon("arrow-long-left")
						| Наши правила
			p В&nbsp;данном разделе мы&nbsp;обозначили основные правила нашего сотрудничества, которые помогут&nbsp;нам&nbsp;избежать различного рода недопонимания, а&nbsp;также максимально комфортно&nbsp;работать и&nbsp;вместе идти к&nbsp;поставленным целям
		+e.body--rules
			+panel() 
				.h4.strong Правило №1
				p Поскольку наши преподаватели и ученики живут в разных городах и странах, и, как правило, в разных часовых поясах, занятия в нашей школе проводятся по Московскому времени. Расписание уроков в личном кабинете также отображается по Московскому времени.
			+panel() 
				.h4.strong Правило №2
				p Занятия проходят через программу Skype или специализированные онлайн-платформы с аудио/видеосвязью и дополнительным функционалом. Для обучения необходимо установить программу Skype на Ваш компьютер. Скачать её можно по ссылке:  <br> #[a(href="#") https://www.skype.com/ru/get-skype/ ]
			+panel() 
				.h4.strong Правило №3
				p Для полноценного обучения скорость Интернет-соединения на Вашем компьютере должна соответствовать минимально требуемым параметрам. В таблице ниже приведены минимально необходимые скорости приема и передачи данных, а также рекомендуемые скорости для оптимальной работы: 
				mixin tr(t1, t2,t3)
					tr
						if t1
							td= t1
						else
							td
								block
						td= t2
						td= t3 
				.table-responsive
					table.table
						thead
							th(scope="col") Тип звонка
							th(scope="col") Минимальная скорость <br> приема/передачи
							th(scope="col") Рекомендуемая скорость приема/передачи
						tbody
							+tr('	Звонки','30 Кбит/с  /  30 Кбит/с','100 Кбит/с  /  100 Кбит/с') 
							+tr('','128 Кбит/с  /  128 Кбит/с','300 Кбит/с  /  300 Кбит/с')
								| Видеозвонки/<br>Демонстрация экрана
							+tr('','400 Кбит/с  /  400 Кбит/с','500 Кбит/с  /  500 Кбит/с')
								| Видеозвонки <br>(высокое качество)
							+tr('','1,2 Мбит/с  /  1,2 Мбит/с','1,5 Мбит/с  /  1,5 Мбит/с')
								| Видеозвонки <br> (HD-разрешение)
							+tr('','512 Кбит/с  /  128 Кбит/с','2 Мбит/с  /  512 Кбит/с')
								| Групповые видеозвонки <br> (3 участника)
							+tr('','2 Мбит/с  /  128 Кбит/с','4 Мбит/с  /  512 Кбит/с')
								| Групповые видеозвонки <br> (5 участников)
							+tr('','4 Мбит/с  /  128 Кбит/с','8 Мбит/с  /  512 Кбит/с')
								| Групповые видеозвонки <br> (более 7 участников)
					p Повлиять на этот фактор мы, к сожалению, не можем, но если Вы столкнулись с проблемой медленного Интернет-соединения, то мы рекомендуем Вам повысить скорость соединения с Интернетом у Вашего провайдера, чтобы процесс обучения проходил без помех и зависаний. 
			+panel() 
				.h4.strong Правило №4
				p Чтобы бесплатно отменить или перенести урок, необходимо предупредить об&nbsp;этом преподавателя не&nbsp;позднее, чем за&nbsp;5&nbsp;часов до&nbsp;начала занятия. Если Вы&nbsp;отменяете урок  без предупреждения или не&nbsp;выходите на&nbsp;связь, занятие считается проведенным  и&nbsp;списывается с&nbsp;Вашего баланса
			+panel() 
				.h4.strong Правило №5
				p Каждое новое занятие начинается только при условии положительного баланса. Когда у&nbsp;Вас закончатся оплаченные уроки, Вы&nbsp;получите уведомление в&nbsp;своем Личном кабинете, а&nbsp;также будете проинформированы об&nbsp;этом по&nbsp;СМС
			+panel() 
				.h4.strong Правило №6
				p Чтобы заморозить баланс уроков на&nbsp;время Вашего отпуска или отъезда на&nbsp;определенный срок, необходимо написать об&nbsp;этом нашим менеджерам по&nbsp;адресу #[a(href="mailto:kontakt@studger.ru") kontakt@studger.ru]. Мы&nbsp;заморозим баланс до&nbsp;указанной даты, и&nbsp;после приезда Ваши уроки возобновятся
			+panel() 
				.h4.strong Правило №7
				p Чтобы поменять расписание занятий (день недели, интенсивность, время), Вам необходимо обсудить это с&nbsp;Вашим преподавателем, а&nbsp;затем сообщить нашим менеджерам по&nbsp;адресу #[a(href="mailto:kontakt@studger.ru") kontakt@studger.ru]. <br> Обновленное расписание будет также отображаться в&nbsp;Вашем личном кабинете





















	+footer