.form-control {
	box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
}

.form-wrap {
	&__input-wrap {
		// @extend .form-group;

	}

	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
	}

	&__btn {
		cursor: pointer;
	}

	label {
		width: 100%;
		display: block;
	}
}


.parsley-error {
	border-image: none;
	border: 2px solid red !important;
	color: red;
	outline: 0 !important;

}

.parsley-success {
	border: 2px solid #00d600 !important;

}

.parsley-errors-list {
	color: red;
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}




.custom-input {
	display: block;
	margin: auto;

	margin-bottom: rem(20);
	cursor: pointer;
	position: relative;
	padding-left: rem(35px);
	display: inline-block;

	&__input {
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	&__lab {
		left: 0;
		display: block;
		top: rem(3);
		width: rem(20px);
		height: rem(20px);
		background-color: $primary;
		@include mt;
		position: absolute;
		margin-right: 10px;

		&::after {
			content: '';
			position: absolute;
			@include a-cent;
			opacity: 0;
		}

	}

	&__input[type="checkbox"]+&__lab {
		&::after {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='8' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z' class='st0'/%3E%3C/svg%3E");
			position: absolute;
			@include a-cent;
			opacity: 0;
		}
	}

	&__input[type="radio"]+&__lab {
		border-radius: 50%;

		&::after {
			border-radius: 50%;
		}
	}

	&__input:checked+&__lab {
		background-color: $success;

		&::after {

			opacity: 1;
		}
	}

}






.select2-container--default {
	display: block;
	outline: 0 !important;
	margin-bottom: 0.5rem;
	min-width: rem(200);

	.select2-selection--single {
		border-radius: 0;
		height: auto;
		font-size: rem(14px);
		outline: 0 !important;
		border: 1px solid #D3DAFF;
		box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		border-radius: 2px;

		&[aria-expanded="true"] {
			border-color: $primary;
		}

		.select2-selection__arrow b {
			background: #FFFFFF;
			white-space: nowrap;
			color: #969696;
		}

	}
}



.select2-container .select2-selection--single .select2-selection__rendered {
	padding: $input-padding-y * .6146 rem(30) $input-padding-y * .6146 rem(20);
	// padding-left: rem(20);
	// padding-right: rem(30);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
	width: rem(40);
}

.custom-select-wrap {
	[aria-disabled="true"] {
		display: none;
	}
}

.custom-select-wrap--search-hidden .select2-search {
	display: none;
}

.select2-dropdown {
	box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
	border-radius: 2px;
	border: 1px solid $primary;
	background-color: $white;

}

  .select2-results__option {
	// padding: rem(10) rem(20);
	padding: $input-padding-y * .6146 rem(30) $input-padding-y * .6146 rem(20);
	[disabled]{
		display: none;
	}
	// white-space: nowrap;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: $primary;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
	color: #fff;
}

.select2-dropdown--below {
	.select2-selection--single {}

	.select2-dropdown {
		border-radius: 0 0 2px 2px;
		border-top: none;
	}
}

.select2-dropdown--below {

	.select2-dropdown--above {
		border-radius: 2px 2px 0 0;
		border-bottom: none;
	}

	.select2-selection--single {}
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-bottom-color: transparent;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {

	border-top-color: transparent;
}

.custom-select-wrap--sm {
	.select2-container--default {
		outline: 0 !important;
		margin-bottom: 0;

		.select2-selection--single {
			font-size: rem(14px);
			border-radius: 2px;

		}
	}

 

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 100%;
		width: rem(20);
	}
 

}

.select2-container .select2-selection--single .select2-selection__rendered {
  // display: block;
  // padding-left: 8px;
  // padding-right: 20px;
  // overflow: hidden;
	text-overflow: initial;
}
 

// .form-control-sm {
// 	border-color: #92ffca;
// 	-webkit-box-shadow: inset 0 0 0 4px #92ffca;
// 	box-shadow: inset 0 0 0 4px #92ffca;
// }