mixin  top-line-body()
	// start .top-line
	+b.HEADER.top-line.block-with-lazy&attributes(attributes) 
		.container
			.row
				.col.d-lg-none
					.sidebar__toggle
						span
				.col-auto.d-none.d-lg-block
					+e.logo(href="#") 
						img.res-i(src="img/svg/logo-text.svg", alt="")
				
				block
				+e.link-wrap.col-auto
					+e.link(href="#")
						+icon("user-add")
				+e.link-wrap.col-auto
					+e.link.text-primary(href="#")
						+icon("alert")
				+e.dropdown-wrap.col-sm.col-auto
					+b.dropdown--top
						+e.toggle.dropdown-toggle(class=" dropdown-toggle"  role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							+e.name Александр
							+e.avatar
								img(src="img/@2x/avatar.png", alt="")
						+e.menu.dropdown-menu.dropdown-menu-right
							a.dropdown-item(href="#") 
								+e.DIV.icon-wrap: +icon("user")
								| Профиль
							a.dropdown-item(href="#") 
								+e.DIV.icon-wrap: +icon("pay")
								| Оплата
							a.dropdown-item(href="#") 
								+e.DIV.icon-wrap: +icon("user-add")
								| Пригласи друга
							.dropdown-divider
							a.dropdown-item(href="#") 
								+e.DIV.icon-wrap: +icon("logout")
								| Выйти
	// end .top-line
mixin top-line()
	+top-line-body()
		.col-auto
			+b.top-line-balance
				+e.label(href="#") 124
				+e.text.d-none.d-md-block Баланс
				+e.btn(href='#').d-none.d-sm-block Пополнить 
mixin top-line-trener()
	+top-line-body() 
		.col-auto.d-none.d-sm-block
			+b.top-line-balance
				+e.text.d-none.d-md-block.mr-3 К оплате
				+e.label(href="#") 12 000 ₽
				div.d-none.d-md-block 
					.smallest.strong Ближайшая выплата
					.smallest 29.11.2019

	// end .top-line

