 .soc {
 	margin: 0 rem(-9);
 	display: flex;
 	align-items: center;

 	&__item {
 		text-decoration: none !important;
 		margin: 0 rem(9);
 		vertical-align: middle;
 		@include mt;
 		display: block;
 		@extend .text-lightd;

 	}

 	.icon {
 		font-size: rem(30);
 		font-size: rem(14);

 		&-instagram {
 			font-size: rem(24);
 		}
 	}


 }


 .counter {
 	counter-reset: num;

 	&__item {
 		position: relative;

 		&::before {
 			content: counter(num);
 			counter-increment: num;
 		}
 	}
 }



 .btn--home-work {
 	min-width: rem(121);
 }

 .h1 {
 	padding-bottom: rem(24);
 }


