.select-group {
	padding-bottom: rem(30);

	.select2-container--default {
		margin-bottom: 0;
		@include media-breakpoint-down(lg) {
			min-width: 100%;
			margin-bottom: rem(10);
		}
	}

	.select2 {
		border: solid 1px transparent;
		&:focus,
		&:active,
		&.active, 
		&-container--open {
			border: $primary 1px solid;
			border-bottom-color: transparent;
		}
	}
	.select2-container--default .select2-selection--single {
		border-radius: 0;
		border: none;
	}
	@include media-breakpoint-down(lg) {
		flex-direction: column;
	}

	&__btn {
		text-align: center;
		width: rem(205px);
		display: flex;
		border-radius: 0;
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
		&.other-button {
			width: rem(144px);
			@include media-breakpoint-down(lg) {
				width: 100%;
			}
		}
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}
}
