.card {
  white-space: normal;

  &__title {}

  &--theory {
    // display: none !important;
  }

  &.dropdown-toggle::after {
    display: none;
  }

  &-body {
    width: 100%;
  }
}

.card-wrap {
  .dropdown-menu {
    width: rem(295);

    .dropdown-item {

      margin-bottom: 1rem;
    }

    .icon {
      // font-size: rem(15);
      // color: $primary;
    }
  }

}