.drag-block {
  border-radius: 8px;
  background-color: $body-bg;
  display: inline-flex;
  flex-wrap: wrap;
  padding: rem(12) rem(20) 0;
  margin-bottom: rem(30);
  
  &__inner {
    display: inline-flex;
    flex-wrap: wrap;
    // @include ro
    margin-left: rem(-7);
    margin-right: rem(-7);
    padding-bottom: rem(10);
  }

  &__item {
    margin-left: rem(7);
    margin-right: rem(7);
    display: inline-flex;
    color: $dark;
    font-weight: 700;
    line-height: 1.25;
    box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    border-radius: 2px;
    background-color: $white;
    padding: rem(10) rem(15);
    margin-bottom: rem(12);
    z-index: 2;
    // flex:  ;
    cursor: pointer;
  }
}

.droppable-block {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}



.droppable-section {padding-bottom: 1rem;}

.droppable-block {
  display: inline-flex;
  min-width: rem(94px);
  height: rem(40);
  box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
  border-radius: 2px;
  padding-left: rem(5 * 2);
  padding-right: rem(5 * 2);
  border: 1px solid $info;
  background-color: $white;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  color: $dark;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  // @include mt;
  @include mt(1.6); 

  &.ui-state-highlight {
    border-color: $primary;
    cursor: pointer;
    min-width: 1px;
  }

  &:not(.ui-state-highlight) {

    &.ui-droppable-hover,
    &.ui-droppable-active {
      border-color: $primary;
    }
  }

}

.drug-in {
  // opacity: 0;
  pointer-events: none;
  // @extend .invisible;
  // margin: 0;
  // padding: 0;
  opacity: 0.5;
  @include mt;
  // position: absolute;
}

.ui-draggable-dragging {
  margin: 0;
}