.panel-block__input-variant-wrap {
  @include roww(5);
}

.input-variant {
  cursor: pointer;
  position: relative;

  &__text {

    min-width: rem(40px);
    height: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    border-radius: 2px;
    border: 1px solid $info;
    background-color: $white;
    color: $darkl;
    @include mt;
    line-height: 1;
  }

  &__tooltip {
    position: absolute;
    // position: relative;
    opacity: 0;
    // visibility: visible;
    visibility: hidden;
    pointer-events: none;
    left: 100%;
    bottom: 100%;
    min-width: rem(121px);
    display: flex;
    justify-content: center;
    align-items: center;
    @include mt;
    height: rem(35px);
    box-shadow: 0 0 44px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: $darkl;
    margin-left: rem(-5);
    line-height: 1;
  }

  &--danger &__tooltip {
    color: #ffffff;
    border: 1px solid $danger;
    background-color: $danger;
  }


  &--success &__tooltip {
    color: $dark;
    border: 1px solid#d4ffeb;
    background-color: $successl;
  }

  &__input {
    @extend .invisible;
  }

  &__input:checked~&__tooltip {
    visibility: visible;
    opacity: 1;
  }

  &--danger &__input:checked~&__text {
    font-weight: 700;
    color: $danger;
    border-color: $danger;
    box-shadow: inset 0 0 0 4px $danger;
    border-radius: $border-radius;
  }

  &--success &__input:checked~&__text {
    font-weight: 700;
    color: $success;
    border-color: $successl;
    box-shadow: inset 0 0 0 4px $successl;
    border-radius: $border-radius;
  }


}