.sortable-section{
  .drag-block__item{
    // padding-top: rem(5);
    // padding-bottom: rem(5);
     height: rem(40);
    margin-bottom: rem(5);
    margin-top: rem(5);
    padding-top: rem(4);
    padding-bottom: rem(2);
    align-items: center;
    @include mt;
    // text-overflow: ellipsis; 
    // display: block;
  }
  .drag-block{
    &__inner{
      padding-bottom: rem(10);
    }
    &__item{  
      max-width: 100%;

    }
  }
  .drag-block{
    .drag-block{

      &__item{
        &.active{
        background-color: rgba(20,46,110,.1);
        color: transparent;
      }
    }
  }
  }
}
.line-block{ 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
  $step : rem(50);
  min-height: ($step) * 2; 
  background-image: repeating-linear-gradient(transparent 0px, transparent calc(#{$step} - 1px), #dce2e8 calc(#{$step} - 1px), #dce2e8 $step);
.drag-block__item{
  
}
.line-block{
  margin-left: rem(-9);
  margin-right: rem(-9);
}
}

.line-place{
  display: inline-block;
  width: 100%;
}