.sortable-section{
  .drag-block__item{
    // padding-top: rem(5);
    // padding-bottom: rem(5);
    height: rem(20);
    margin-bottom: rem(10);
    margin-top: rem(10);
    align-items: center;
  }
}
.line-block{
  // display: inline;
  // border-bottom: 1px solid #dce2e8;
  // min-height: 1px;
  // min-width: 100%;
  // border-top: 1px solid #000;
  display: flex;
  $step : rem(40);
  min-height: ($step + 1) * 2;
  // background-image: repeating-linear-gradient(-180deg, transparent, transparent $step,   #000  calc(#{$step}) + 1px);
  background-image: repeating-linear-gradient(transparent 0px, transparent calc(#{$step} - 1px), #dce2e8 calc(#{$step} - 1px), #dce2e8 $step);
.drag-block__item{
  
}
.line-block{
  margin-left: rem(-9);
  margin-right: rem(-9);
}
}

.line-place{
  display: inline-block;
  width: 100%;
}