.panel-block {
  padding: rem(22) rem(27) rem(18);

  @include media-breakpoint-up(xl) {

    &--lg {
      padding-left: rem(40);
      padding-right: rem(40);
      // padding: rem(22) rem(27) rem(18);

    }
  }

  @include media-breakpoint-up(xl) {

    &--sm {
      padding-left: rem(20);
      padding-right: rem(20);
      // padding: rem(22) rem(27) rem(18);

    }
  }


  @include media-breakpoint-down(md) {

    padding: rem(20) rem(15);
  }

  box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
  border-radius: 10px;
  background-color: $white;
  margin-bottom: rem(21);

  &__head {
    padding-bottom: rem(11);
    background-color: #fff;
    z-index: 10;
    width: 100%;

    // border-radius: rem(10);
    &--js {

      // position: fixed !important;
      top: 0;
      left: 0;
    }

    &.sticky {

      border-bottom: 1px solid rgba(20, 46, 110, 0.1);
    }
  }

  &__body {
    padding-top: rem(12);
    padding-bottom: rem(12);

    &--comment {
      min-height: rem(136);
    }
  }

  &__footer {
    padding-top: rem(18);
  }

  &__title {
    padding-bottom: rem(7);
  }



  &__img-wrap.bg-wrap {
    box-shadow: 0 1px 8px rgba(20, 46, 110, 0.1);
    border-radius: 10px;
    background-color: $white;
    position: relative;
    overflow: hidden;
    @include block(666, 254);
    margin-bottom: rem(19);
    min-height: rem(200);

    img {
      object-position: center;
    }
  }

  &__audio-wrap {
    margin-bottom: rem(20);
  }
}


.head-link-wrap {
  display: flex;
  margin-left: rem(-3);
  margin-right: rem(-3);
  align-items: center;

  a {
    margin-left: rem(3);
    margin-right: rem(3);
    font-weight: bold;

    .icon {
      font-size: rem(21);
      margin-right: rem(3);
    }
  }

  &__avatar {
    width: rem(32);
    height: rem(32);
    overflow: hidden;
    position: relative;
    margin-bottom: .5rem;

    img {
      @extend .res-i;
    }

    .rounded-circle {
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      width: rem(32);
      height: rem(32);

    }
  }

  &__avatar-label {
    position: absolute;
    bottom: rem(0);
    right: rem(0);
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
    background-color: #14f172;
    border: 2px solid #fff;

  }
}


.panel-head {
  @extend .panel-block;
  @extend .panel-block--lg;
  border-radius: rem(10) rem(10) 0 0;
  margin-bottom: 0;
  border-bottom: 1px solid $light;
  padding-top: 0;


}