.row-two {
  position: relative;

  @include media-breakpoint-up(sm) {
    max-width: none;
    // max-width: rem(500);
  }

  // max-width: rem(400);


  .row {

    @include media-breakpoint-up(lg) {

      @include roww(82 /2);

      .row--md {
        @include roww(10)
      }
    }
  }

  // position: relative;

  &__col {
    display: flex;
    flex-direction: column;
  }

  .input-variant {
    width: 100%;
    max-width: 100%;
  }

  .input-variant__text {
    border-radius: $border-radius;
    // font-size: rem(13);
    line-height: 1.2;
  }



  .variant-wrap {
    position: relative;

  }

  .input-variant {
    left: 0;
  }
}

.connect-dot {
  position: absolute;
  @include a-cent(y);

}

.connect-dot-left-js {
  left: 100%;
  width: 1px;
  height: 1px;
}

.connect-dot-right-js {
  right: 100%;
  width: 1px;
  height: 1px;
}

.line {
  // width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  backface-visibility: hidden;
  // transform: rotate(13deg);
  transform: rotate(0deg);
  width: 1px;
  transform-origin: 0% 50%;
  height: 1px;
  left: 100%;
  top: 50%;
  // @include mt;

  &.active {
    opacity: 1 !important;

  }

  &--result {
    width: 50%;
    opacity: 1 !important;
  }

  &.valid {
    background-color: $successl !important;
    opacity: 1;
    @include mt;
  }

  &.invalid {
    @include mt;
    background-color: $danger !important;
    opacity: 1;
  }

}

.row-two__col:nth-child(2) {
  // margin-top: 100px;
}

.input-variant {
  &.disabled {
    pointer-events: none;
  }
}