extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/sidebar/_sidebar.pug
include ../blocks/sidebar-right/_sidebar-right.pug
include ../blocks/footer-lesson/_footer-lesson.pug
include body-pages/body-page.pug
block variables
	- let  mainPage= "page-without-top-line"
block title
	- let  title= 'Интерфейс урока на платформе (стр. №2)'
	title= title
block pagecontent  
	+page("l") 
		+panel-head()
			.h6.strong 2. Урок на платформе (стр. №2)
		
		+body-lesson-2()
		+footer-lesson('','l')