extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-video/_s-video.pug
include ../blocks/category/_category.pug
include ../blocks/sidebar/_sidebar.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Категория "Видео"'
	title= title
block pagecontent  
	+page()
		.row.align-items-center.pb-4.pt-1
			.col
				a.h6.strong.text-secondaryd.tdn(href="#") 
					+icon("arrow-long-left")
					| Видео
		+select-group()

		+s-video
		.row.row--md
			+category-video('video-1','')
				+e.title Das Leben in der Hauptstadt Deutschlands
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					p Выполнено
			+category-video('lesson-img','')
				+e.title Freizeitaktivitäten
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					p Выполнено
			+category-video('lesson-img','','')(class="disabled bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			+category-video('lesson-img','')(class="bg-white")
				+e.title Etiam finibus sit amet est feugiat pharetra.
				+e.subtitle
					p Уровень: #[strong.fw-700 A1]
					//- p Не пройден

			.col-12.text-center
				button.load-more.btn.text-primary.bg-white.mt-4.mb-3 Показать еще



	+footer