// start .s-stat
.s-stat {
	padding-top: rem(5);

	&__row {
		// padding-top: rem(20);
	}

	&__table-wrap {
		background-color: #fff;
		box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		border-radius: rem(10px);
		padding: rem(20) rem(9) rem(10);

		@include media-breakpoint-down(sm) {
			overflow-x: auto;
		}

		// @include media-breakpoint-up(xl) {
		// 	width: 99%; //таблица уже контейнера
		// }
	}

	&__calendar-wrap {
		padding-bottom: rem(20);
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-primary;
		display: inline-block;
		padding: rem(3) rem(12);
		font-size: rem(12);
	}

	input {
		border: none;
	}

	.form-control {
		box-shadow: none;
		padding-top: rem(13);
		padding-right: 0;
	}

	.input-group {
		box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		height: rem(40px);
	}

	td {
		color: #000;
		vertical-align: middle;
		padding-top: rem(19);
		padding-bottom: rem(13);

		@include media-breakpoint-up(lg) {
			&:nth-child(-n + 2) {
				width: 15%;
			}

			&:nth-child(3) {
				width: 28%;
				font-size: rem(12);
			}

			&:nth-child(4) {
				width: 20%;
			}

			&:nth-child(5) {
				// width: 18%;
				font-size: rem(12);
			}

			&:nth-child(6) {
				padding: 0;
				width: 5%;
			}
		}
	}

	.icon-comment {
		color: $primary;
		font-size: rem(14);
	}

	&__comment {
		@include mt;

		&:hover .icon-comment {
			color: #001fda;
		}
	}

	.form-group {
		margin-bottom: 0;
		display: flex;
		align-items: stretch;
	}

	&__col {
		display: flex;

		// justify-content: center;
		@include media-breakpoint-up(md) {
			justify-content: flex-end;
		}

		padding-bottom: rem(20);

	}

	&__period {
		display: flex;
		// height: 100%;
	}

	.period {
		display: flex;
		min-height: rem(40);
		@include media-breakpoint-down(md){
			width: 100%;
		}

		&__btn {
			@extend .btn;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0;
			border: transparent;
			width: 100%;
			@include media-breakpoint-down(md){
				font-size: .9rem;
			}

			@include media-breakpoint-up(lg) {
				width: rem(90);
			}

			color: #2662f0 !important;
			@include mt;
			background-color: #fafbfd;

			&:hover {
				background-color: #f1f5f8;
			}
		}

		.active {
			background-color: #ffffff;
			box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1) !important;
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}

	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

	label {
		margin-bottom: 0;
		@include media-breakpoint-down(lg){
			width: 50%;
		}
		@include media-breakpoint-up(md){
		max-width: rem(150);
		}
	}

}

// end.s-stat
.date-picker-block-js {

	input {
		border: none;
	}

	.form-control {
		box-shadow: none;
		padding-top: rem(13);
		padding-right: 0;
		height: 100%;
	}

	.input-group {
		box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		height: rem(40px);
	}

	.gj-datepicker-bootstrap button {
		border: none;
		border-radius: 0;
		padding-left: rem(10);
	}

	.btn-outline-secondary:not(:disabled):not(.disabled):active,
	.show>.btn-outline-secondary.dropdown-toggle {
		background-color: transparent;
	}


	.input-group-append {
		background-image: url('../img/svg/calendar.svg');
		background-repeat: no-repeat;
		padding-right: rem(8);
		background-position: center;
	}

	.gj-icon {
		display: none;
	}

}

.gj-picker-bootstrap {
	padding: rem(34) rem(24);
}

.gj-picker-bootstrap {
	// display: block !important; // ломает календарь и его можно увидеть

	div[role='navigator'] {
		background-color: #f1f5f8;
		border-radius: 8px;

		div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	div[role='period'] {
		font-weight: normal !important;
	}

	div {
		color: #414d55;
	}

	.chevron-right,
	.chevron-left {
		background-position: center;
		background-repeat: no-repeat;
		width: rem(20);
		height: rem(20);

		&::before {
			content: '';
		}
	}

	.chevron-right {
		background-image: url('../img/svg/calendar-arrow-right.svg');
	}

	.chevron-left {
		background-image: url('../img/svg/calendar-arrow-left.svg');
	}

	.current-month div,
	.today div,
	.other-month div {
		background-color: #fafbfd;
		border-radius: 4px;
		margin: rem(4);
	}

	.selected div {
		background-color: $primary !important;
	}

	table tr td.disabled div,
	table tr td.other-month div,
	tr[role='week-days'] {
		opacity: 0.54;
	}
}