mixin footer-lesson(f,l, test)
	// start footer-lesson
	+b.footer-lesson
		if !test
			if !l 
				+e.btn--send.btn-white(type="button" data-toggle="tooltip"  data-placement="auto" title="Hausaufgabe schicken") 
					span.d-none.d-xl-inline HA schicken
					+icon("telegram") 
			else
				+e.btn--send.btn-white(type="button" data-toggle="tooltip"  data-placement="auto" title="Hausaufgabe machen") 
					span.d-none.d-xl-inline HA machen
					+icon("mnu-4") 
		+e.btn.btn-white(type="button" ) 
			+icon("refresh")(class="m-0")
			//- span.d-none.d-xl-inline Neu starten
		+e.btn--back.btn-dark(type="button"   disabled=(f ? "disabled": null)  ) 
			+icon("arrow-left")
			span.d-none.d-xl-inline Zurück
		+e.btn--next.btn-primary(type="button"  ) 
			if !test 
				span(class=( l ?  null : "d-none d-xl-inline"))=( l ?  "Lektion beenden" : "Weiter")
			else
				span(class=( l ?  null : "d-none d-xl-inline"))=( l ?  "Test beenden" : "Weiter")
			if !l 
				+icon("arrow-right")
		+e.btn--exit.btn-darkl(type="button" data-toggle="tooltip"  data-placement="auto" title="Beenden")  
			+icon("exit")
			//- span.d-none.d-lg-inline Beenden

	// end footer-lesson
