// start .footer-lesson
.footer-lesson {
	display: flex;
	position: relative;
	padding-top: rem(20);
	// position: sticky;
	// position: fixed !important;
	// position: absolute;
	// bottom: 0;
	z-index: 3;
	// bottom: rem(20);
	padding-bottom: rem(10);
	left: 0;
	width: 100%;

	&__btn {
		@extend .btn;
		@extend .btn-lg;

		&.btn-white {
			box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
		}

		@include media-breakpoint-up(xl) {

			// flex-grow: 1;
		}

		&--send {
			margin-right: rem(10);

			.icon {
				margin-right: 0 !important;

				@include media-breakpoint-up(xl) {
					margin-left: rem(10);
				}

			}
		}

		.icon {

			@include media-breakpoint-up(xl) {

				font-size: rem(17);
				margin-right: rem(10);
			}

			font-size: rem(14);
		}

		&--exit {

			.icon {
				margin-right: 0 !important;
			}
		}

		&--back,
		&--next {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-grow: 1;
			// max-width: rem(190);
		}

		&--back {
			margin-left: rem(10);
			border-radius: rem(10px) 0px 0px rem(10px);

		}

		&--next {
			margin-right: rem(10);
			border-radius: 0 rem(10px) rem(10px) 0;

			@include media-breakpoint-up(xl) {

				.icon {
					margin-right: 0;
					margin-left: rem(10);
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		&__btn {
			&--next {

				font-size: rem(12);
				padding-left: rem(5);
				padding-right: rem(5);
			}
		}
	}

}

// end.footer-lesson